<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.kubit.restaurantrating"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <supports-screens android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:anyDensity="true"/>

        
    <application
        android:name="RestaurantRating"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true">
      	<uses-library android:name="com.google.android.maps" />
        <activity
          	android:label="@string/app_name"
          	android:name=".UserRatesActivity" 
 	      	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      		android:launchMode="singleInstance" >
          	<intent-filter >
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          	</intent-filter>
      	</activity>
      	<activity android:name=".RestaurantsActivity" 
      	  	android:launchMode="singleInstance"
	  		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
  		</activity>	
      	<activity android:name=".RestaurantRateActivity" 
      		android:launchMode="singleInstance"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
      	<activity android:name=".RestaurantTipsActivity" 
      		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
      	<activity android:name=".RestaurantTipAddActivity" 
      		android:launchMode="singleInstance"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
      	<activity android:name=".RestaurantPhotosActivity" 
      		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
     	<activity android:name=".RestaurantPhotoActivity" 
      		android:launchMode="singleInstance"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
     	<activity android:name=".AuthorizationActivity"
     	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>
     	<activity android:name=".MapFriendsActivity" 
      		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
     	<activity android:name=".MapRestaurantActivity" 
      		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
		</activity>	
     </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>